# IDE / 编辑器
.idea/
.vscode/
.trae/
*.iml

# 后端构建产物
target/
*.class
*.log
out/

# 前端依赖与构建
node_modules/
.unpackage/
.hbuilderx/
dist/
uni/uni-app/node_modules/

# 数据库本地临时文件
*.rdb

# 系统文件
.DS_Store
Thumbs.db