<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.wwl.mapper.OrderImageMapper">

    <!-- 单条新增图片 -->
    <insert id="insertImage">
        INSERT INTO order_image(order_id,image_url,created_at)
        VALUES(#{orderId},#{imageUrl},NOW())
    </insert>

    <!-- 批量新增图片 原生foreach -->
    <insert id="batchInsertImage">
        INSERT INTO order_image(order_id,image_url,created_at)
        VALUES
        <foreach collection="list" item="item" separator=",">
            (#{item.orderId},#{item.imageUrl},NOW())
        </foreach>
    </insert>

    <!-- 根据订单ID查询所有图片 -->
    <select id="selectByOrderId" resultType="com.wwl.model.entity.OrderImage">
        SELECT * FROM order_image
        WHERE order_id = #{orderId}
          AND is_deleted = 0
        ORDER BY created_at ASC
    </select>

    <!-- 批量根据订单ID集合查询图片 -->
    <select id="selectByOrderIdList" resultType="com.wwl.model.entity.OrderImage">
        SELECT order_id,image_url,created_at
        FROM order_image
        WHERE order_id IN
        <foreach collection="orderIds" item="oid" open="(" separator="," close=")">
            #{oid}
        </foreach>
        AND is_deleted = 0
        ORDER BY created_at ASC
    </select>


    <!-- 根据id删除单张图片（软删除） -->
    <update id="deleteById">
        UPDATE order_image SET is_deleted = 1 WHERE id = #{id}
    </update>

    <!-- 删除该订单所有图片（软删除） -->
    <update id="deleteByOrderId">
        UPDATE order_image SET is_deleted = 1 WHERE order_id = #{orderId}
    </update>

    <!-- 修改单张图片地址 -->
    <update id="updateImageUrl">
        UPDATE order_image
        SET image_url = #{imageUrl}
        WHERE id = #{id}
    </update>

</mapper>
