<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wwl.mapper.WallCategorySubMapper">

    <sql id="base_column">
        id,category_id,name,sort,is_show,is_deleted,create_time,update_time
    </sql>

    <select id="selectSubList" resultType="com.wwl.model.entity.WallCategorySub">
        SELECT <include refid="base_column"/>
        FROM wall_category_sub
        <where>
            is_deleted = 0
            <!-- 一级分类ID -->
            <if test="categoryId != null">
                AND category_id = #{categoryId}
            </if>
            <!-- 子分类名称模糊查询，用bind兼容所有数据库 -->
            <if test="name != null and name.trim() != ''">
                <bind name="likeName" value="'%' + name.trim() + '%'"/>
                AND name LIKE #{likeName}
            </if>
            <!-- 是否展示 -->
            <if test="isShow != null">
                AND is_show = #{isShow}
            </if>
        </where>
        ORDER BY sort ASC
    </select>


    <select id="selectSubById" resultType="com.wwl.model.entity.WallCategorySub">
        SELECT <include refid="base_column"/>
        FROM wall_category_sub
        WHERE id = #{id} AND is_deleted = 0
    </select>

    <insert id="insertSub">
        INSERT INTO wall_category_sub
        (category_id,name,sort,is_show,is_deleted,create_time,update_time)
        VALUES
            (#{categoryId},#{name},#{sort},#{isShow},#{isDeleted},#{createTime},#{updateTime})
    </insert>

    <update id="updateSub">
        UPDATE wall_category_sub
        <set>
            <if test="categoryId != null">category_id = #{categoryId},</if>
            <if test="name != null and name != ''">name = #{name},</if>
            <if test="sort != null">sort = #{sort},</if>
            <if test="isShow != null">is_show = #{isShow},</if>
            update_time = #{updateTime}
        </set>
        WHERE id = #{id} AND is_deleted = 0
    </update>

    <update id="logicDeleteSub">
        UPDATE wall_category_sub SET is_deleted = 1 WHERE id = #{id}
    </update>

</mapper>